<section class="pd-top-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="topic">Buscar > Resultados para filmes</h2>
            </div>
        </div>
    </div>
</section>

<section id="search-result" class="search-result pd-bottom-40">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <p>{{ sidebarMessage }}</p>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-10">

                <div *ngIf="movieList">
                    <div class="row">
                        <div *ngFor="let movie of movieList">
                            <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6 margin-top-15 margin-bottom-15">
                                <app-moviedb-card-box [elementData]="movie"></app-moviedb-card-box>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<app-loading *ngIf="isLoading"></app-loading>