<div>
    <section class="discover-title pd-top-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="txt-black-color txt-size-twenty">Descobrir novos Filmes</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="discover-search">
        <form class="form-inline" [formGroup]="movieFilterForm" (ngSubmit)="onSubmit()">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Movies Filter -->
                        <div class="form-group">
                            <div class="pd-right-15 pd-bottom-10">
                                <label class="section-description" for="year">
                                    <strong>Ano</strong>
                                </label><br>
                                <select [formControlName]="'movieYear'" class="form-control" name="primary_release_year"
                                    id="year">
                                    <option value="0">Nenhum</option>
                                    <option *ngFor="let year of releaseYear;" value="{{ year }}">{{ year }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pd-right-15 pd-bottom-10">
                                <label class="section-description" for="sort_by">
                                    <strong>Ordenar por</strong>
                                </label><br>
                                <select [formControlName]="'movieSort'" class="form-control" id="sort_by"
                                    name="sort_by">
                                    <option *ngFor="let sort of sortBy;" value="{{ sort.id }}">{{ sort.value }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pd-right-15 pd-bottom-10">
                                <label class="section-description" for="with_genres">
                                    <strong>Gêneros</strong>
                                </label><br>
                                <select [formControlName]="'movieGenre'" class="form-control" id="with_genres">
                                    <option value="">Filtrar por gênero...</option>
                                    <option *ngFor="let genre of genres;" value="{{ genre.id }}">{{ genre.name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pd-right-15 pd-bottom-10">
                                <label class="section-description" for="keywords">
                                    <strong>Palavras-chave</strong>
                                </label><br>
                                <input [formControlName]="'movieKeywords'" class="form-control" id="keywords"
                                    type="text" placeholder="Filtrar por Palavras-chave">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pd-top-25">
                                <button class="btn" type="submit">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </form>

        <div class="container pd-top-20 pd-bottom-20">
            <div class="row">
                <!-- Movies Card list Display -->
                <div *ngFor="let movie of movieList">
                    <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6 margin-top-15 margin-bottom-15">
                        <app-moviedb-card-box [elementData]="movie"></app-moviedb-card-box>
                    </div>
                </div>

                <div class="col-lg-12" *ngIf="totalPages >= 1;">
                    <nav aria-label="page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <button aria-label="Previous" class="page-link" type="button" (click)="previousPage()" [ngClass]="{ disable: previousBtn === false }">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </button>
                            </li>

                            <!-- First 3 pages -->

                            <li class="page-item">
                                <input class="page-link" type="button" value="1" (click)="getPage(1)">
                            </li>

                            <li class="page-item">
                                <input class="page-link" type="button" value="2" (click)="getPage(2)">
                            </li>

                            <li class="page-item">
                                <input class="page-link" type="button" value="3" (click)="getPage(3)">
                            </li>

                            <!-- Last pages -->

                            <li class="page-item">
                                <input type="text" class="page-link" type="button" value="{{ totalPages }}"
                                    (click)="getPage(totalPages)">
                            </li>

                            <li class="page-item">
                                <button aria-label="Next" class="page-link" type="button" (click)="nextPage()" [ngClass]="{ disable: nextBtn === false }">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </section>
</div>

<app-loading *ngIf="isLoading"></app-loading>