<section *ngIf="movieDetails" class="movie-leadspace"
    [ngStyle]="{ 'background-image': 'url(' + movieBg + movieDetails.backdrop_path +')'}">
    <div class="pd-top-40 pd-bottom-40 default-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ movieDetails.poster_path }}"
                        alt="{{ movieTitle }}">
                </div>
                <div class="col-md-8 txt-white-color">
                    <h2 class="txt-white-color font-source-sans-pro">
                        <span class="movie-title"> {{ movieTitle }} </span>
                        <span class="txt-gray-color txt-size-sixteen"> (2018)</span>
                    </h2>

                    <div class="pd-top-30 pd-bottom-10">
                        <h4 class="txt-white-color txt-size-sixteen">Sinopse</h4>
                        <p class="txt-white-color txt-size-sixteen">
                            {{ movieDetails.overview }}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>