<section *ngIf="movieDetails" class="movie-leadspace"
    [ngStyle]="{ 'background-image': 'url(' + movieBg + movieDetails.backdrop_path +')'}">
    <div class="pd-top-40 pd-bottom-40 default-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 txt-center pd-top-20 pd-bottom-10">
                    <img class="img-resize"
                        src="{{ posterUrl }}{{ movieDetails.poster_path }}"
                        alt="{{ movieTitle }}">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 txt-white-color">
                    <h2 class="txt-white-color font-source-sans-pro pd-top-20">
                        <span class="movie-title"> {{ movieTitle }} </span>
                        <!-- <span class="txt-gray-color txt-size-sixteen"> {{ movieYear }} </span> -->
                    </h2>

                    <div class="pd-top-30 pd-bottom-10">
                        <h4 class="txt-white-color txt-size-sixteen">Sinopse</h4>
                        <p class="txt-white-color txt-size-sixteen">
                            {{ movieDetails.overview }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>