<section class="default-bg pd-top-40 pd-bottom-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8 txt-white-color">
                <h2 class="movie-title txt-white-color font-source-sans-pro">Movie Title <span>(2018)</span></h2>

                <div>
                    <h4 class="txt-white-color">Overview</h4>
                    <p class="txt-white-color">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde a quidem, similique explicabo nemo
                        odit molestias saepe beatae dolorem recusandae dicta sit necessitatibus? Harum sequi, cum
                        inventore aspernatur tenetur accusantium.
                    </p>
                </div>

                <div>
                    <h4 class="txt-white-color">Featured Crew</h4>
                </div>

            </div>
        </div>
    </div>
</section>