.default-bg {
  background-image: radial-gradient(
    circle at 20% 50%,
    rgba(9.8%, 9.8%, 43.92%, 0.98) 0%,
    rgba(15.69%, 15.69%, 52.16%, 0.88) 100%
  );
}

h2.movie-title{
  font-size: 3.4em;
  line-height: 1.1em;
  font-weight: 700;
  display: inline-block;
}