@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }
  
  @mixin transition-all($tramsition) {
      -webkit-transition: $tramsition;
       -moz-transition: $tramsition;
       -o-transition: $tramsition;
        transition: $tramsition;
  }