body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #333c4e;
  font-size: 12px;
  font-size: 1em;
}

.img-resize {
  max-width: 100%;
  height: auto;
}
.topic {
  font-size: 2em;
  font-weight: 600;
}

/*  
    -------------------
    --'Source Sans Pro', sans-serif;
    --'Open Sans', sans-serif;
    --'Poppins', sans-serif;
    ------------------- 
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Source+Sans+Pro&display=swap");

.section-title,
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.section-subtitle,
.font-source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}

.section-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1.4em;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}


// Font Size : EM
$font-sizes:
	"one" 1,
	"twelve" 1.2,
	"fourteen" 1.4,
	"sixteen" 1.6,
	"eighteen" 1.8,
  "twenty" 2,
  "twenty-five" 2.5,
  "twenty-eight" 2.8,
  "thirty" 3;

@each $size in $font-sizes{
	.txt-size-#{nth($size, 1)} {
		font-size: #{nth($size,2)}em; 
	}
}
