<header class="pd-bottom-100 pd-top-40">
    <div class="page-header">
        <div class="pd-top-15 pd-bottom-15 db-dark-bg ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrapper">
                            <div class="logo">
                                <img class="img-resize" src="../../../assets/images/primary-green-themoviedb-logo.svg"
                                    alt="logo The Movie DB" width="80" height="70">
                            </div>
                            <div class="header-content">
                                <nav class="navbar">
                                    <h1 class="txt-white-color font-source-sans-pro header-title">
                                        Catálogo de filmes
                                    </h1>
                                    <button class="mobile-menu" (click)="toggleMenu()">
                                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                    </button>
                                    <ul class="nav navbar-nav" [ngClass]="{ 'menu-open' : showMobileMenu === true }">
                                        <li class="nav-link txt-size-fourteen">
                                            <a class="txt-white-color" routerLinkActive="active" routerLink="/"
                                                [routerLinkActiveOptions]="{exact: true}">Home</a>
                                        </li>
                                        <li class="nav-link txt-size-fourteen">
                                            <a class="txt-white-color" routerLinkActive="active"
                                                [routerLink]="['/discover/movie']">Explorar</a>
                                        </li>
                                        <li class="nav-link txt-size-fourteen">
                                            <a class="txt-white-color" routerLinkActive="active"
                                                [routerLink]="['/genres/movie']">Filmes por Categorias</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-top-search-form></app-top-search-form>
    </div>
</header>