<header class="pd-bottom-100 pd-top-60">
    <div class="page-header">
        <div class="pd-top-15 pd-bottom-15 db-dark-bg ">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../../assets/images/primary-green-themoviedb-logo.svg"
                            alt="logo The Movie DB" width="80" height="70">
                    </div>
                    <div class="col-md-9">
                        <h1 class="txt-white-color font-source-sans-pro">Catálogo de filmes - The Movie Database</h1>
                    </div>
                </div>
            </div>
        </div>
        <section class="search">
            <div class="container">
                <div>

                </div>
            </div>
        </section>
    </div>
</header>