footer {
    background-color:rgba(7, 64, 52, 1);
    background: radial-gradient(at 30% top, rgba(7, 64, 52, 1) 0%, rgba(8, 28, 36, 1) 70%);    
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 150px;
    box-sizing: border-box;
    padding: 0;
}