<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 txt-center">
                <p class="txt-white-color txt-size-fourteen font-source-sans-pro ">
                    <strong>© 2020 Lilian Dias de Sousa. </strong>
                    <br>
                    <a class="txt-db-green-color" target="_blank" href="https://github.com/liliansousa/film-catalog-themoviedb">github: Project Documentation (external link)</a>
                </p>
            </div>
        </div>
    </div>
</footer>