.movie-table-card {
  display: flex;
  justify-content: flex-start;
  max-height: 150px;
  overflow: hidden;
  border: 1px solid #dedede;
  .movie-img-card {
    min-width: 100px;
  }
  .movie-details-card {
    padding: 15px;
    h5.font-source-sans-pro {
      font-size: 1.5em;
      margin: 0px;
    }
    p.section-description {
      overflow: hidden;
      margin: 0px;
      box-sizing: border-box;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
