section.search {
    width: 100%;
    background-color: #fff;
    height: 41px;
    border-bottom: 1px solid #dedede;
    .top-search{
        height: 40px;
        line-height: 40px;
        border: none;
    }
}