<div class="card movie-card">
    <img class="img-resize full-resize"
        src="https://image.tmdb.org/t/p/w138_and_h175_face/{{ elementData.profile_path }}" alt="{{ elementData.name }}"
        width="138" height="175">
    <div class="card-content pd-content-10">
        <p>
            <span class="txt-size-twelve">
                <strong>
                    {{ elementData.name }}
                </strong>
            </span> <br>
            <span>
                {{ elementData.character }}
            </span>
        </p>
    </div>
</div>