.card-details {
  width: 100%;
  min-width: 150px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.image-container {
  background-color: #dedede;
  background-size: cover;
  background-position: center;
}
