<div class="card movie-miniature-card" *ngIf="elementData">
    <div class="card-img image-container">
        <a class="card-link" [routerLink]="['/movie', elementData.id ]">
            <img alt="{{ elementData.title }}" *ngIf="elementData.poster_path" class="img-resize full-resize"
                width="500" height="282" src="https://image.tmdb.org/t/p/w500_and_h282_face/{{ elementData.poster_path }}">
        </a>
    </div>
    <div class="pd-content-10">
        <div class="card-details">
            <div class="wrapper">
                <div class="card-icon">
                    <p class="movie-vote_average txt-white-color">
                        {{ elementData.vote_average}}
                    </p>
                </div>
                <div class="card-title pd-left-15">
                    <a class="card-link" [routerLink]="['/movie', elementData.id ]">{{ elementData.title }}</a> <br>
                    <p class="movie-date"> {{ elementData.release_date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>