<div class="card movie-miniature-card">
    <a class="card-link" [routerLink]="['/movie', elementData.id ]">
        <img class="img-resize full-resize"
            src="https://image.tmdb.org/t/p/w500_and_h282_face/{{ elementData.poster_path }}"
            alt="{{ elementData.title }}" width="500" height="282">
    </a>
    <div class="pd-content-10">
        <div class="card-details">
            <div class="wrapper">
                <div class="card-icon">
                    <p class="movie-vote_average txt-white-color">
                        {{ elementData.vote_average}}
                    </p>
                </div>
                <div class="card-title pd-left-15">
                    <a class="card-link" [routerLink]="['/movie', elementData.id ]">{{ elementData.title }}</a> <br>
                    <p class="movie-date"> {{ elementData.release_date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>