a.movie-card {
    display: inline-block;
    text-decoration: none;
    @include transition-all(all 0.2s ease);
    &:hover{
        opacity: 0.8;
        @include transition-all(all 0.2s ease);
    }
}

.wrapper {
    display: flex;
    .flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .sidebar-nav{
    .sidebar-nav-item{
      padding: 10px 20px;
      border-bottom: 2px solid #000;
    }
  }